body {
background-color: rgb(179, 231, 248);
margin: 0;
font-family: Arial, sans-serif;
}

h1, h2 {
    color: rgb(196, 58, 76);
}

img {
max-width: 100%;
height: auto;
display: block;
margin: auto;
}


.layout {
display: grid;
grid-template-columns: 1fr;
gap: 1.5rem;
}

@media (min-width: 768px) {
.layout {
grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 1024px) {
body {
max-width: 1200px;
margin: auto;
    }
}

#Arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: #296dc5;
    color: white;
    border: none;
    padding: 12px 15px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: none; 
    z-index: 9999;
    transition: 0.3s;
}

#Arriba:hover {
    background-color: #273a5e;
}
